:root {
  --black: #3B434E;
  --white: white;
  --primary: #4285F4;
  --primary-hover: #DEEBFF;
  --red: #FC836D;
  --gray-light: #EBEBEB;
  --input-hover: #b3b3b3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html,
body {
  height: 100%;
  color: var(--black);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  background: -webkit-linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  font-size: 14px;
  line-height: 1.6em;
}

@media (min-width: 2200px) {
  body {
    zoom: 1.333;
  }
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 1rem;
}

@media (width: 1280px) and (height: 609px) {
  #root {
    height: unset;
  }

  body {
    height: unset;
  }
}

@media (max-width: 361px) {
  #root {
    height: unset;
  }

  body {
    height: unset;
  }
}

input {
  width: 100%;
  padding: 12px 20px;
  color: var(--black);
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  background-color: var(--gray-light);
  border: 1px solid var(--gray-light);
}

input:hover {
  border-color: var(--input-hover);
}

input:focus {
  border-color: var(--primary);
}

button {
  background: var(--primary);
  border-radius: 4px;
  padding: 12px 20px;
  color: var(--white);
  font-weight: 500;
  border: none;
  cursor: pointer;
}

label {
  display: block;
  margin: 0 0 10px;
  color: var(--black);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: .2em;
}

label span {
  font-size: 14px;
  color: var(--red);
}

.multiSelectContainer input {
  margin-top: 0;
}

.searchWrapper {
  padding: 0;
}

.multiSelectContainer li:hover {
  background: var(--primary-hover);
  color: var(--black);
}

.highlightOption {
  background: var(--primary-hover);
  color: var(--black);
}

.multiSelectContainer ul {
  padding: 4px 0;
  margin-top: 4px;
}

.invalid {
  border: 1px solid var(--red)
}